{% if context.count_all_page > 1 %}
    <div class="pagination">
        <ul>
            {% if context.prev_num != 0 %}
                <li>
                    <a href="{% url 'website_en:list_page' parent_cate=context.parent_cate cate_slug=context.cate.slug page_num=context.prev_num %}">&lt;
                        prev</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:;">&lt; 上一页</a></li>
            {% endif %}

            {% for i in context.num_list %}
                {% if i == context.page_num %}
                    <li class="current"><a href="javascript:;">{{ i }}</a></li>
                {% else %}
                    <li>
                        <a href="{% url 'website_en:list_page' parent_cate=context.parent_cate cate_slug=context.cate.slug page_num=i %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if context.next_num != 0 %}
                <li>
                    <a href="{% url 'website_en:list_page' parent_cate=context.parent_cate cate_slug=context.cate.slug page_num=context.next_num %}">下一页
                        &gt; </a></li>
            {% else %}
                <li class="disabled"><a href="javascript:;">next &gt; </a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}