<div class="site-map">
    <div class="__title">网站地图</div>
    <div class="__section">
        <div class="__cata-name">关于中心</div>
        <ul>
            <li><a href="{% url 'website:about' slug='introduction' %}">中心简介</a></li>
            <li><a href="{% url 'website:about' slug='partners' %}">合作伙伴</a></li>
            <li><a href="{% url 'website:about' slug='chronicle_of_events' %}">大事记</a></li>
            <li><a href="{% url 'website:about' slug='honors' %}">中心荣誉</a></li>
        </ul>
    </div>

    <div class="__section">
        <div class="__cata-name">新闻动态</div>
        <ul>
            <li><a href="{% url 'website:list_page_index' parent_cate='news' cate_slug='tcmftc_news' %}">中心动态</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='news' cate_slug='industry_news' %}">行业动态</a></li>
        </ul>
    </div>
    <div class="__section">
        <div class="__cata-name">学术活动</div>
        <ul>
            <li><a href="{% url 'website:list_page_index' parent_cate='activities' cate_slug='academic_activities' %}">学术活动</a></li>
        </ul>
    </div>
    <div class="__section">
        <div class="__cata-name">科学研究</div>
        <ul>
            <li><a href="{% url 'website:list_page_index' parent_cate='research' cate_slug='platform' %}">研究平台</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='research' cate_slug='projects' %}">研究项目</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='research' cate_slug='co-operation_with_Industry' %}">成果转化</a></li>
        </ul>
    </div>
    <div class="__section">
        <div class="__cata-name">成果奖励</div>
        <ul>
            <li><a href="{% url 'website:list_page_index' parent_cate='achievements' cate_slug='articles' %}">科学论文</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='achievements' cate_slug='patents' %}">发明专利</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='achievements' cate_slug='honors_and_awards' %}">荣誉奖励</a></li>
        </ul>
    </div>
    <div class="__section">
        <div class="__cata-name">师资力量</div>
        <ul>
            <li><a href="{% url 'website:list_page_index' parent_cate='staff' cate_slug='faculty' %}">教师</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='staff' cate_slug='postgraduates' %}">研究生</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='staff' cate_slug='visiting_professors' %}">访问教授</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='staff' cate_slug='distinguished_experts' %}">特聘专家</a></li>
            <li><a href="{% url 'website:list_page_index' parent_cate='staff' cate_slug='visiting_students' %}">访问学生</a></li>
        </ul>
    </div>

    <div class="__section">
        <div class="__cata-name">学友风采</div>
        <ul>
            <li><a href="{% url 'website:list_page_index' parent_cate='alumni' cate_slug='alumni' %}">学友风采</a></li>
        </ul>
    </div>
    <div class="__section">
        <div class="__cata-name">联系方式</div>
        <ul>
            <li><a href="{% url 'website:contact' %}">联系方式</a></li>
        </ul>
    </div>
    <div class="__section show-xs">
        <ul><li><a href="#"><i class="iconfont icon-earth"></i> browse English site ></a></li></ul>
    </div>
</div>

{% if context.friend_links %}
    <div class="friend-link">
        <div class="__title">友情链接</div>
        <div class="__cata-name">友情链接</div>
        <ul>
            {% for fl in context.friend_links %}
                <li><a href="{{ fl.url }}" target="_blank">{{ fl.title }}</a></li>
            {% endfor %}

        </ul>
    </div>
{% endif %}

<div class="footer__contact">
    <div class="footer-brand">
        <div class="footer-logo"><img src="{% static 'website/images/footer--logo.png' %}" alt=""></div>
        <div class="__name-txt"><img src="{% static 'website/images/footer--name.png' %}" alt=""></div>
    </div>
    <div class="__contact-msg">
        <div>
            <span>地址：</span>
            <span>{{ context.zh_site_info.addr }}</span>
        </div>
        <div>
            <span>联系人：</span>
            <span>{{ context.zh_site_info.linkman }}</span>
        </div>
    </div>
    <div class="__contact-msg">
        <div>
            <span>电话：</span>
            <span><a href="tel:{{ context.zh_site_info.tel }}">{{ context.zh_site_info.tel }}</a></span>
        </div>
        <div>
            <span>邮箱：</span>
            <span><a href="{{ context.zh_site_info.email }}">{{ context.zh_site_info.email }}</a></span>
        </div>
    </div>

    {% if context.zh_site_info.qr %}
    <div class="qr">
        <img src="{{ context.zh_site_info.qr.url }}" alt="">
        <br>
        <div>微信公众号</div>
    </div>
    {% endif %}
</div>

<div class="copy">
    {{ context.zh_site_info.copy }} <!--a class="auth" href="#">绚思科技提供技术支持</a -->
</div>
