{% extends 'website_en/layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{% static 'website_en/css/page.css' %}">
{% endblock %}

{% block body-block %}
    <div class="detail-container">
        <div class="detail-content-wrapper" style="flex: 1">
            <div class="page-title-box">
                <div class="dir-path">
                <a href="{% url 'website_en:index' %}">Home</a>
                    <span>&gt;</span>
{#                    <a href="{{ context.article.category.get_absolute_url }}">{{ context.article.category.cate_name }}</a>#}
                    <a href="{% url 'website_en:list_page_index' parent_cate=context.parent_cate cate_slug=context.article.category.slug %}">{{ context.article.category.cate_name }}</a>
                    <span>&gt;</span>
                    <span>{{ context.article.title }}</span>
                </div>
                <div class="__title">{{ context.article.title }}</div>
                <div class="__info">
                    <span class="__time">{{ context.article.pub_date }}</span>
                    <span class="__auth">{{ context.article.writer }}</span>
                </div>
            </div>
            <div class="detail-body">
                <div class="__share-tools">
                    <div class="bshare-custom">
                        <a title="share to WeChat" class="bshare-weixin">WeChat</a>
                        <div class="__divider"></div>
                        <a title="share to Qzone" class="bshare-qzone">Qzone</a>
                        <div class="__divider"></div>
                        <a title="share to Weibo" class="bshare-sinaminiblog">Weibo</a>
                        <div class="__divider"></div>
                        <a title="share to QQ" class="bshare-qqim">QQ</a>
{#                        <div class="__divider"></div>#}
{#                        <a title="分享到人人网" class="bshare-renren">人人网</a>#}
    {#                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>#}
                    </div>
                </div>
                <div class="detail-text">
                    {{ context.article.content | safe }}
                </div>
            </div>
        </div>
        <div class="detail-side-box">
            <div class="__title">More links</div>
            <ul>
                {% for item in context.relative_list %}
                    <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js-block %}
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
{% endblock %}